In [1]:
import pandas as pd
df=pd.read_csv('automobile.csv')

In [5]:
null_counts = df.isnull().sum()
# Stampiamo i conteggi dei valori nulli per ogni colonna
print("Valori nulli per ogni colonna:")
print(null_counts)

Valori nulli per ogni colonna:
symboling             0
normalized-losses    37
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  0
stroke                0
compression-ratio     0
horsepower            0
peak-rpm              0
city-mpg              0
highway-mpg           0
price                 0
dtype: int64

In [6]:
null_doors = df[df['num-of-doors'].isnull()]

# Stampiamo le righe con valori nulli nella colonna 'num-of-doors'
print("\nRighe con valori nulli nella colonna 'num-of-doors':")
print(null_doors)

Righe con valori nulli nella colonna 'num-of-doors':
    symboling  normalized-losses   make fuel-type aspiration num-of-doors  \
26          1              148.0  dodge       gas      turbo          NaN
60          0                NaN  mazda    diesel        std          NaN

   body-style drive-wheels engine-location  wheel-base  ...  engine-size  \
26      sedan          fwd           front        93.7  ...           98
60      sedan          fwd           front        98.8  ...          122

    fuel-system  bore  stroke compression-ratio horsepower  peak-rpm city-mpg  \
26         mpfi  3.03    3.39               7.6        102      5500       24
60          idi  3.39    3.39              22.7         64      4650       36

   highway-mpg  price
26          30   8558
60          42  10795

[2 rows x 26 columns]

In [7]:
# Esaminiamo i dati per trovare valori da sostituire ai valori nulli in 'num-of-doors'
# Vediamo quante porte hanno le auto con lo stesso make e body-style
replacement_values = df.groupby(['make', 'body-style'])['num-of-doors'].agg(lambda x:x.value_counts().index[0]).reset_index()

# Uniamo i valori sostitutivi al DataFrame originale
df_filled = pd.merge(df, replacement_values, on=['make', 'body-style'], how='left', suffixes=('', '_replacement'))

# Sostituiamo i valori nulli nella colonna 'num-of-doors' con i valori calcolati
df_filled['num-of-doors'].fillna(df_filled['num-of-doors_replacement'], inplace=True)

# Ora verifichiamo se ci sono ancora valori nulli dopo la sostituzione
null_counts_after = df_filled.isnull().sum()

# Stampiamo i conteggi dei valori nulli per ogni colonna dopo la sostituzione
print("\nValori nulli per ogni colonna dopo la sostituzione:")
print(null_counts_after)

# Stampiamo le prime righe del DataFrame con i valori sostituiti
print("\nPrimi 10 righe del DataFrame con valori sostituiti:")
print(df_filled.head(10))

Valori nulli per ogni colonna dopo la sostituzione:
symboling                    0
normalized-losses           37
make                         0
fuel-type                    0
aspiration                   0
num-of-doors                 0
body-style                   0
drive-wheels                 0
engine-location              0
wheel-base                   0
length                       0
width                        0
height                       0
curb-weight                  0
engine-type                  0
num-of-cylinders             0
engine-size                  0
fuel-system                  0
bore                         0
stroke                       0
compression-ratio            0
horsepower                   0
peak-rpm                     0
city-mpg                     0
highway-mpg                  0
price                        0
num-of-doors_replacement     0
dtype: int64

Primi 10 righe del DataFrame con valori sostituiti:
   symboling  normalized-losses         make fuel-type aspiration  \
0          3                NaN  alfa-romero       gas        std
1          3                NaN  alfa-romero       gas        std
2          1                NaN  alfa-romero       gas        std
3          2              164.0         audi       gas        std
4          2              164.0         audi       gas        std
5          2                NaN         audi       gas        std
6          1              158.0         audi       gas        std
7          1                NaN         audi       gas        std
8          1              158.0         audi       gas      turbo
9          2              192.0          bmw       gas        std

  num-of-doors   body-style drive-wheels engine-location  wheel-base  ...  \
0          two  convertible          rwd           front        88.6  ...
1          two  convertible          rwd           front        88.6  ...
2          two    hatchback          rwd           front        94.5  ...
3         four        sedan          fwd           front        99.8  ...
4         four        sedan          4wd           front        99.4  ...
5          two        sedan          fwd           front        99.8  ...
6         four        sedan          fwd           front       105.8  ...
7         four        wagon          fwd           front       105.8  ...
8         four        sedan          fwd           front       105.8  ...
9          two        sedan          rwd           front       101.2  ...

   fuel-system  bore  stroke  compression-ratio horsepower peak-rpm  city-mpg  \
0         mpfi  3.47    2.68                9.0        111     5000        21
1         mpfi  3.47    2.68                9.0        111     5000        21
2         mpfi  2.68    3.47                9.0        154     5000        19
3         mpfi  3.19     3.4               10.0        102     5500        24
4         mpfi  3.19     3.4                8.0        115     5500        18
5         mpfi  3.19     3.4                8.5        110     5500        19
6         mpfi  3.19     3.4                8.5        110     5500        19
7         mpfi  3.19     3.4                8.5        110     5500        19
8         mpfi  3.13     3.4                8.3        140     5500        17
9         mpfi   3.5     2.8                8.8        101     5800        23

  highway-mpg  price num-of-doors_replacement
0          27  13495                      two
1          27  16500                      two
2          26  16500                      two
3          30  13950                     four
4          22  17450                     four
5          25  15250                     four
6          25  17710                     four
7          25  18920                     four
8          20  23875                     four
9          29  16430                     four

[10 rows x 27 columns]